<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 注册动态工厂  -->
	<bean id="myServiceFactory" class="com.songjn.node.dynamicfactory.ServiceFactory"></bean>
	<!-- 注册service：动态工厂bean -->
	<bean id="myService" factory-bean="myServiceFactory" factory-method="getSomeServiceImpl"></bean>
	
</beans>