<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 注册目标对象 -->
	<bean id="myService" class="com.songjn.node.aop.advices.SomeServiceImpl"></bean>

	<!-- 注册切面：通知 -->
	<bean id="myBeforeAdvice" class="com.songjn.node.aop.advices.MyMethodBeforeAdvice"></bean>
	<!-- 注册切面：通知 -->
	<bean id="myAfterAdvice" class="com.songjn.node.aop.advices.MyAfterReturningAdvice"></bean>

	<!-- 生成代理对象 -->
	<bean id="serviceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<!-- <property name="targetName" value="myService"></property> -->
		<!-- 指定目标对象 -->
		<property name="target" ref="myService"></property>
		<!-- 指定切面 -->
		<!-- <property name="interceptorNames" value="myBeforeAdvice,myAfterAdvice"></property> -->
		<property name="interceptorNames">
			<array>
				<value>myBeforeAdvice</value>
				<value>myAfterAdvice</value>
			</array>
		</property>
	</bean>
</beans>