<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 注册目标对象 -->
	<bean id="myService" class="com.songjn.node.aop.advisorautoproxy.SomeServiceImpl"></bean>
	<!-- 注册目标对象 -->
	<bean id="myService2" class="com.songjn.node.aop.advisorautoproxy.SomeServiceImpl"></bean>

	<!-- 注册切面：通知 -->
	<bean id="myAdvice"
		class="com.songjn.node.aop.advisorautoproxy.MyMethodInterceptor"></bean>

	<!-- 注册切面：顾问：名字匹配NameMatchMethodPointcutAdvisor -->
	<bean id="myAdvisor"
		class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<property name="advice" ref="myAdvice"></property>
		<!-- 1、使用通配符的方式：匹配的是简单方法名（doFirst） -->
		<property name="mappedName" value="*ir*"></property>
	</bean>
	<!-- 生成代理对象 -->
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames" value="myService2"></property>
		<property name="interceptorNames" value="myAdvisor"></property>
	</bean>

</beans>